
body{
	width:100%;
	margin: auto;
	
}

.container{
	width: 960px;
	margin: auto;
	padding-top: 0px;
}

.header {
	background: rgba(0,0,0,0.75);
	width: 100%;
	top:0;
	position: fixed;
	height: 75px;

}

.logo {
	float: left;
	font-family: "Helvetica";
	font-size: 20px;
	padding-bottom: .7cm;
	-webkit-font-smoothing: antialiased;
}
.container p{
	border-bottom-width: 60px;
}

a {
	text-decoration: none;
	color: #fff;
}

.nav li {
	font-size: 22px;
	list-style:none;
	float: left;
	margin-left: 35px;
	padding-top: .2cm;
	-webkit-font-smoothing: antialiased;
}
.nav{
	float: right;
}

.content{
	padding-top: 85px;
}


.container2{
	width: 100%;
	margin: auto;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	
}

#banner{
	top: 0;
	background-image: url("DeathtoStock_Desk8.png");
	font-size: 50px;
	color: gray;
	background-repeat: no-repeat;
	text-align: center;
	background-size: 100%;
	padding: 24% .009%;
	height:auto;
	width:auto;
	width: 100%;
	font-family: "Roboto";
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
}
/*
.margins{
	height:auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
	background-size: 100%;
	
	
}
/*
.margins article{
	font-size: 48px;
	text-align: left;
	color:#ffffff;
	padding:80%;
	max-height: 100%;
	height: auto;
	margin-bottom: auto;
}
*/
.myButton {
	
	border-radius:5px;
	display:inline-block;
	font-family:sans-serif;
	font-size:16px;
	padding:10px 16px;
	text-decoration:none;
}
.myButton:hover {
	background-color:rgba(0,0,0,0.3);
	color:white;
}
.myButton:active {
	position:relative;
	top:1px;
}

